* {
    color: #bababa;
}

main {
  height: 600px;
  background-image: url(../assets/hero-img.jpg);
  background-size: 100%; /* Cover the entire background */
  background-repeat: no-repeat; /* Do not repeat the background image */
}

nav {
    margin-right: 30px;
}

h3 {
    color: #8d8d8d;
}

section {
    padding: 50px;
}

.nav-link {
    color: white;
}

#hero {
    margin: 100px;
}

#hero-header {
    color: white;
}

#hero-text {
    color: white;
}

.grey-bg {
  background-color: #eeeeee;
}

#fifty-fifty {
  background-image: url(../assets/bg-pattern.svg);
}

#fifty-fifty-sect {
    margin-top: 100px;
}

.btn {
  background-color: #7ec7d4;
  border: none;
}

#outlined-btn {
    background: none;
    border: solid #7ec7d4;
    color: #7ec7d4;
}

#vid-text {
    padding-top: 20px;
}

.dropdown-toggle {
    width: 100%;
    background: none;
    color: #7ec7d4;
    text-align: start;
}

.dropdown-toggle::after {
    float: right;
    margin-left: 0; /* Reset the left margin */
}

.dropdown-menu {
    background: none;
    border: none;
    padding-bottom: 10px; /* Adjust the value as needed */
}

.dropdown-item {
    white-space: normal;
}

footer {
    background-color: #4d5966;
}

.footer-title {
    color: white;
}

#footer-link {
    padding: -30px;
}

#input {
    background: transparent;
    border: solid #7ec7d4;
}

#input::placeholder {
    color: #7ec7d4;
}
